*.py[co]
ec.rst
.*.swp
bump

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
install.out

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.test*.sum
htmlcov

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

