*.py[co]
.*.swp
doc/.build
tests/.coverage
.ecrc
compute-zo
lg.ec
lg0.ec
tests/.ecrc
tests/compute-zo
tests/lg.ec
tests/lg0.ec
.hypothesis
.bump.cfg.nt

# Packages
*.egg
.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
install.out

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.test*.sum
htmlcov

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

